<div class="row">
	<form>
		<div class="input-field">
			<p>Search by Committee</p>
		  <select name="select-committee" id="select-committee">
		  	<option value="allCommittees">All Committees</option>
		  	<option value="planningCommittee">Planning, Land Use, and Sustainability</option>
		  	<option value="transportationCommittee">Transportation</option>
		  	<option value="energyCommittee">Energy and Environment</option>
		  	<option value="housingCommittee">Housing, Human Services, Health, and Culture</option>
		  	<option value="economicCommittee">Economic Resiliency and Regional Relation</option>
		  	<option value="parksCommittee">Parks and Neighborhoods</option>
		  	<option value="publicSafetyCommittee">Public Safety, Civil Rights, and Technology</option>
		  	<option value="librariesCommittee">Libraries, Utilities, and Center</option>
		  	<option value="builtCommittee">Built Environment</option>
		  </select>
		</div>
	</form>
	<div class="collapsible-labels">
		<p>Committee Name</p>
		<p>Title</p>
		<p>Date Introduced</p>
	</div>
	<ul class="collapsible">
	  <% bills.forEach((bill, i) => { %>
			<% let accContent = ''; %>
			<% if(i === 0) { %>
				<% accContent = content[0]; %>
			<% } else if(i === 1) {%>
				<% accContent =  content[1]; %>
			<% } else if(i === 2) {%>
				<% accContent = content[2]; %>
			<%} else {accContent = content[3]}%>



			<% var className %>

			<% if (bill.committee === "Planning, Land Use, and Sustainability") { -%>
				<% className = 'planningCommittee collapsible-header '; %>
			<% } else if (bill.committee === 'Government Performance and Finance') { -%>
				<% className = 'governmentCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Public Safety, Civil Rights, and Technology') { %>
				<% className = 'publicSafetyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Transportation') { %>
				<% className = 'transportationCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Energy and Environment') { %>
				<% className = 'energyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Housing, Human Services, Health, and Culture') { %>
				<% className = 'housingCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Economic Resiliency and Regional Relations') { %>
				<% className = 'economicCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Parks and Neighborhoods') { %>
				<% className = 'parksCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Energy, Technology, and Civil Rights') { %>
				<% className = 'energyTechnologyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Built Environment') { %>
				<% className = 'builtCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Full Council') { %>
				<% className = 'fullCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Libraries, Utilities, and Center') { %>
				<% className = 'librariesCommittee collapsible-header' %>
			<% } else { className = 'noCommittee collapsible-header' }-%>

			<% const titleArr = bill.title.split(' ') %>
			<% const title = titleArr[1] + ' ' + titleArr[2] + ' ' + titleArr[3] + ' ' + titleArr[4] + ' ' + titleArr[5] + '...' %>

			<li>
			  <div class="<%= className %>">
			  	<div class="committee-name">
			  		<h6><%= bill.committee %></h6>
			  	</div>
			  	<div class="bill-title">
			  		<h6><%= title %></h6>
			  	</div>
			  	<div class="bill-date">
			  		<h6><%= bill.date_introduced_referred_to_committee %></h6>
			  	</div>
			  </div>
			  <div class="collapsible-body">
			  	<p><%= accContent %></p>
			  	<div class="btn-container">
			  	<a class="btn home-btns" href="<%= bill.url %>" target="_blank">View Full</a>
			  	<button data-target="modal2" class="btn home-btns modal-trigger">Create Alert</button>
			  </div>
			  </div>
			</li>
	  <% }) %>
	</ul>
</div>

 <div id="modal2" class="modal">
    <div class="modal-content">
      <h5 class="signup">Alert Created!</h5>
    <div class="modal-footer">
      <a href="/" class="modal-close waves-effect waves-green btn">Close</a>
    </div>
  </div>

